<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalles de Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let item of detalles">
      <ion-label>
        <p>productoId: {{ item.productoId }}</p>
        <p>cantidad: {{ item.cantidad }}</p>
        <p>precioUnitario: {{ item.precioUnitario }}</p>
      </ion-label>
      <ion-button fill="clear" [routerLink]="['/detalles-pedido/editar', item.detalleId]">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="danger" (click)="eliminar(item)">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/detalles-pedido/nuevo']">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
