<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/clientes"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isEdit ? 'Editar Cliente' : 'Nuevo Cliente' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="guardar()">

    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input type="text" formControlName="nombre"></ion-input>
    </ion-item>
    <p class="error" *ngIf="form.get('nombre')?.touched && form.get('nombre')?.invalid">
      Campo obligatorio.
    </p>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Teléfono</ion-label>
      <ion-input type="text" formControlName="telefono"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Fecha de registro</ion-label>
      <ion-input type="date" formControlName="fechaRegistro"></ion-input>
    </ion-item>
    <p class="error" *ngIf="form.get('fechaRegistro')?.touched && form.get('fechaRegistro')?.invalid">
      Campo obligatorio.
    </p>

    <ion-item>
      <ion-label position="stacked">Tipo de cédula (ID)</ion-label>
      <ion-input type="number" formControlName="tipoCedula"></ion-input>
    </ion-item>
    <p class="error" *ngIf="form.get('tipoCedula')?.touched && form.get('tipoCedula')?.invalid">
      Campo obligatorio.
    </p>

    <ion-item>
      <ion-label>Activo</ion-label>
      <ion-toggle formControlName="activo"></ion-toggle>
    </ion-item>

    <ion-button expand="block" type="submit" class="ion-margin-top" [disabled]="guardando">
      {{ isEdit ? 'Actualizar' : 'Guardar' }}
    </ion-button>

  </form>
</ion-content>
